.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    background-color: #FFF;
    margin: 0 auto;
    .form-field{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px 0;
        * {
            margin: 5px 0;
        }
        input{
            border: none;
            border-bottom: solid 1px #1079af;
            font-size: 15px;
            &:focus{
                outline: none;
            }
            padding: 5px 10px;
        }
    }
    button {
        background-color: #1079af;
        border: none;
        border-radius: 5px;
        outline: none;
        padding: 5px 10px;
        color: #FFF;
        &:hover{
            background-color: #0d618c;
        }
    }
}