.story-slider{
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    overflow-x: scroll;
    font-size: 13px;
    padding-bottom: 10px;
    
    .story-container{
        width: 80px;
        margin: 0 5px;
        button{
            background-color: transparent;
            border-radius: 50%;
            padding: 0;
            border: 0;
            cursor: pointer;
        }
        img{
            background-color: #EEE;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            border:2px solid grey;
            &.not-seen{
                border-color: #ffa600;
            }
        }
    }
}